header{
    background-color: #cccccc;
    padding: 25px;
}

#letras{
    width: 30%;
    margin: 35px 35px 35px 35px;
}

.caja{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    /* para la posición, en este caso será absoluta */
    position: absolute;
    top: 65px;
    right: 50px;
}

nav a{
    /* Para que sean mayusculas */
    text-transform: uppercase;
    color: black;
    /* font-weight: bold; */
    font-size: 20px;
    /* pa que no tenga decorado */
    text-decoration: none;
}

/* captura el movimiento del mouse */
nav a:hover{
    color: #c78c19;
    text-decoration:underline;
    
}

nav li{
    /* cada item ocupa todo el renglon, para cambiarlo ponemo inline */
    display: inline;
    /* para mergen interno */
    margin: 0 0 0 15px 
}

.imagenes-productos{
    width: 100%;
    margin-top: 15px;
}

.productos{
    width: 950px;
    margin: 0 auto;
    /* Espaciamiento entre el header y main */
    padding: 50px;
    /* margin: auto; */
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    /* Ocupa el 30 por ciento del espacio */
    /* Que sea en la parte superior */
    vertical-align: top;
    /* para guiarnos un poco en cada imagen */
    /* background-color: #cccccc; */

    margin: 0 1.2%;
    padding: 30px 20px;
    box-sizing: border-box;

    /* Para declarar el borde */
    border-color: #000000;
    border-width: 2px;
    border-style: solid;

    /* o bien */
    /* border: 2px solid #000000; */


    /* Para el radio de las esquinas del borde */
    /*  border-top-left-radius: 10px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 45px; */

    /* o bien todo en uno xd en orden de las manecillas del reloj */
        /* border-radius: 10px 15px 25px 45px; */

    border-radius: 15px;
}

/* para capturar el movimiento del mouse */
.productos li:hover{
    border-color: #c78c19;
    /* font-size: ; */
}

/* para capturar el click del mouse */
.productos li:active{
    border-color: rgba(6, 94, 235, 0.908);
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

/* para producir el efecto de aumento de texto del titulo*/
.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
    margin-top: 10px;
}

.producto-precio{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    background-color: #cccccc;
    text-align: center;   
    padding: 15px;
}
/* 
main{
    width: 940px;
    margin: 0 auto;
} */

form{
    width: 940px;
    margin: 30px auto;
    /* display: block; */
}

form label{
    display: block;
    font-size: 20px;
    margin: 0 0 5px;
}

form input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
}
