header{
    background-color: #cccccc;
    padding: 25px;
}

#letras{
    width: 30%;
    margin: 35px 35px 35px 35px;
}

.caja{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    /* para la posición, en este caso será absoluta */
    position: absolute;
    top: 65px;
    right: 50px;
}

nav a{
    /* Para que sean mayusculas */
    text-transform: uppercase;
    color: black;
    /* font-weight: bold; */
    font-size: 20px;
    /* pa que no tenga decorado */
    text-decoration: none;
}

nav li{
    /* cada item ocupa todo el renglon, para cambiarlo ponemo inline */
    display: inline;
    /* para mergen interno */
    margin: 0 0 0 15px 
}

.imagenes-productos{
    width: 100%;
    margin-top: 15px;
}

.productos{
    width: 950px;
    margin: 0 auto;
    /* Espaciamiento entre el header y main */
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    /* Ocupa el 30 por ciento del espacio */
    /* Que sea en la parte superior */
    vertical-align: top;
    /* para guiarnos un poco en cada imagen */
    /* background-color: #cccccc; */

    margin: 0 1.2%;
    padding: 30px 20px;
    box-sizing: border-box;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.producto-descripcion{
    font-size: 18px;
    margin-top: 10px;
}

.producto-precio{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}