body{
    /* Si no lo tuviera entonces se vería feo, pues habría renglones grsies con blanco */
    background-color: #cccccc;
}

.titulo{
    text-align: center;
}
/* Para todas las etiquetas p será así */
p{
    text-align: center;
    /* background-color: #cccccc; */
}

#banner{
    width: 100%;
}

/* strong aplicaría a todas las que son strong
em stron aplica solo a la que está identada con em strong
em aplica a todo lo que está dentro, incluyendo el strong */
em strong{
    color: cadetblue;
}


.diferencia{
    background-color: white;

}

ul{
    /* Por si solo los elementos ocupan toda la linea
    Con inline-block decimos que se ajuste y no ocupe toda la linea */
    display: inline-block;
    /* Así ya queda la imagen al lado izquierdo */

    /* Para que se aline arriba, junto con el texto */
    vertical-align: top;

    /* Pa que se vaya a la derecha xd */
    width: 40%;

    margin-right: 8%;
}

.items{
    font-style: italic;
}

#imagenDiff{
    width: 30%;
}

#pie{
    text-align: center;
}